@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');
.aboutMeMainContainer
{
    background-color: #222a35;
    width: 100%;

}

.aboutMeLabel
{
    text-align: center;
    padding-top: 15vh;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

.aboutMeSecondaryContainer
{
    display: flex;
    margin-top: 50px;
    padding-bottom: 8%;
    font-family: 'Titillium Web', sans-serif;
}

.aboutMeSecondaryContainer .infoContainer
{
    display: flex;
    flex-direction: column;
    flex: 20%;
    margin-left: 10%;
}

.descriptionContainer
{
    flex: 2;
    margin-top: 30px;
    line-height: 2;
    font-size: 18px;
}

.infoContainerButtons
{
    margin-top: 5%;
}

.infoContainerButtons .whiteOutlinedButton
{
    display: inline-block !important;
    margin-left: 10px;
    color: white !important;
    border-color: white !important;
    width: 200px;
    height: 40px;
}


.interestsContainer
{
    margin-top: 100px;
}

.interestsButtonsContainer
{
    margin-top: 20px;
    margin-left: 20px;
}

.interestsLabel
{

    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}
.interestBlock
{
    border: solid white 1px ;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8em;
    border-radius: 5px;
    display: inline-block;
    margin-right: 15px;
    width: 8%;
    cursor:pointer;
}

.interestBlock img
{
    max-width: 60%;
    max-height: 100%;
    padding: 5px;
    width: 60%;
}
.interestTitle
{
    font-weight: 600;
    font-size: 12px;
}

.inner
{
    margin: 10px;
}

.photoContainer
{
    flex: 1;
}

.MuiAvatar-root
{
    margin:  0 auto;
    width: 45% !important;
    margin-top: 12%;
    height: auto !important;
    box-shadow: 0px 6px 10px rgb(1, 1, 1);
}

.MuiDialog-paper
{
    background-color: rgba(34, 42, 53, 0.1) !important;
    width: 40% !important;
    max-width: none !important;
}

.MuiDialog-container
{
    backdrop-filter: blur(5px);
}


.dialogContent
{
    width: 100%;
}

