.ContactMainContainer
{
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 10%;
}
.ContactMainContainer table
{
    margin: 0 auto;
    margin-top: 5%;
}

.ContactMeLabel
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
}

.ContactMeDescription
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.ContactFormContainer
{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.ContactMeInputText
{
    color: white !important;
}

.MuiOutlinedInput-root
{
    color: white !important;
}
.Mui-focused
{
    color: white !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root
{
    padding: 10px !important;
}
.MuiInputLabel-outlined
{
    color: white !important;
    
}

.css-igs3ac
{
    border-color: white !important;
    color: white !important;
}

.css-p0rm37
{
    padding: 8px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline
{
    border-color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root
{
    left: unset !important;
    top: unset !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
{
    color: white !important
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root
{
    color: white !important;
}

.emailInput
{
    width: 100%;
}
.css-jpq18f-MuiButtonBase-root-MuiButton-root:hover
{
    background: rgb(199, 198, 198) !important;
}

.contactSubmitButton
{
    width:30% !important;
    margin-top:20px !important; 
    background:white !important;
    color: black !important
}

.socialMediaButtonsContainer
{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
}
.socialMediaButtonsContainer p
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.css-nvf14r-ToastContainer
{
    margin-top: 80px !important;
}

