
:root {
    --font-color: #333;
    --background-color: #f6f6f7;
    --link-color: cornflowerblue;
  }
  

  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #181b1f;
    --link-color: lightblue;
  }
  

  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }

  .darkmodeContainer
  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #giantName{
    color: var(--font-color);
}