@media only screen and (max-width: 600px) {

    /* HOMEPAGE */
    #nameContainer
    {
        margin-top: 30%;
    }
    #giantName{
       line-height: 20px;
    }

    #nextPageContainer
    {
        visibility: hidden;
    }

    #nameDesc
    {
        font-size: 1.2em;
        margin-top: 15%;
    }

    hr{
        width: 95%;
    }
    #descriptionContainer
    {
        margin-top: 20%;
        font-size: 1em;
        margin-right: 10%;
    }
    #funnyQuote
    {
        padding-top: 20%;
        font-size: 1em;
    }
    #cvContainer
    {
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 25%;
    }
    .scroll-downs
    {
        visibility: hidden;
    }
    .aboutMeSecondaryContainer
    {
        flex-direction: column-reverse;
    }
    .aboutMeSecondaryContainer .infoContainer
    {
        margin-right: 10%;
        text-align: center;
    }
    .infoContainerButtons
    {
        margin-top: 50px;
    }
    .whiteOutlinedButton
    {
        margin-top: 10px !important; 
    }
    .interestsButtonsContainer
    {
        margin-top: 40px;
    }
    .interestBlock .inner
    {
        margin: 3px;
    }
    .languagesLabelTitle
    {
        padding-top: 30%;
    }

    .languagesSecondaryContainer
    {
        width: 100%;
        padding-bottom: 40%;
    }
    .languagesLabel
    {
        text-align: center;
    }
    .languageContainer
    {
        display: block;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .languageContainer i
    {
        display: inline-block;
        margin: 10px;
        font-size: 40px;
    }
    .navbarStyle
    {
        visibility: hidden !important;
    }

    /* PROJECTS PAGE*/

    #projectsContainer
    {
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .boxTitle
    {
        margin-top: 40px;
    }
    .cardBox 
    {
        margin-top: 20px;
    }

    /* CONTACT ME PAGE*/

    .ContactMainContainer
    {
        margin-top: 30%;
        width: 100%;
        margin-bottom: 30%;
    }
    .ContactMeDescription
    {
        width: 90%;
        margin: 0 auto;
    }
    .contactSubmitButton
    {
        min-width: 120px !important;
    }
    .socialMediaButtonsContainer
    {
        margin-top: 20%;
        width: 100%;
    }

    /* P5.JS PROJECTS */

    .projectContainer
    {
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .css-3fjwge
    {
        width: 80% !important;
    }
    .css-exkjcx
    {
        width: 80% !important;
    }

    .algorithmBlockContainer
    {
        width: 100%;
    }

    .algorithmTerrainBlockContainer
    {
        margin-top: 30% !important;
    }

    .algorithmTerrainContainer
    {
        margin-top: 20px;
    }

    .mapSizeController
    {
        width: 100% !important;
    }
    #defaultCanvas0
    {
        width: 100% !important;
        height: 100% !important;
    }

    #defaultCanvas1
    {
        width: 100% !important;
        height: 100% !important;
    }


    .description
    {
        width: 90%;
        margin: 0 auto;
        margin-top: 20%;
    }

    .languages
    {
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
    }
    .slider
    {
        width: 90%;
    }
    .controllerContainer
    {
        width: 100%;
        margin-top: 30%;
    }
    .languageContainer
    {
        text-align: center;
    }
    .css-9y1egq-MuiButtonBase-root-MuiButton-root
    {
        padding: 7px 8px !important;
    }
    .algorithmContainer
    {
        text-align: center;
    }


}
