
#projectsContainer
{
    width: 100%;
    margin-bottom: 10%;
    
    margin-top: 5%;
}
.projectsBox
{
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
}
.boxTitle
{
    height: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}
.boxTitle img
{
    max-width:100%;
    max-height:100%;
}
.boxTitle span
{
    margin-left: 20px;
}
.cardBoxContainer
{
    margin-top: 40px;
    
}
.cardBox
{
    display: inline-block;
    margin-left: 20px;
    border-radius: 0.2rem;
    
}
.projectCard
{
    color: white !important;
    background-color: rgba(24,26,28,255) !important;
    
    box-shadow: rgba(77, 77, 77, 0.2) 0px 2px 8px 0px !important;
}
.projectCardText
{
    color: rgb(169, 169, 169) !important;
    font-size: 90% !important;
}